@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
* {
	margin: 0px;
   width: 100%;
	box-sizing: border-box;
}

body {
	height: 100vh;
	margin: 0;
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
	background: #23424a;
	color: white;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 100px;
}

.box-container{
	width: 1200px;
}

.subtitle{
	padding: 0;
	margin: 5px 0;
}



footer {
	background-color: #136c72;
	text-align: center;
	width: 100%;
}

.credentials {
	float: left;
}

.details{
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-details{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
}


.card{
	width: 400px;
	padding: 30px;
	margin: 5px;
	text-align: center;
}

.footer-card{
	width: 400px;
	padding: 30px;
	margin: 20px;
	text-align: center;
}

h2{
	font-size: 30px;
	padding: 10px;
}

p{
	font-size: 17px;
	padding: 10px;
}

.credentials{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
}

@media (max-width: 850px){

}
